@model ASP_MVC.Models.User.UserDetails

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3>@Html.DisplayFor(model => model.Username) Profile</h3>
    <hr />

    @if (sessionManager.ConnectedUser?.User_Id == Model.User_Id)
    {
        <a asp-action="Edit" asp-controller="User" asp-route-id="@Model.User_Id">Change Username</a>
    }
</div>

<div>
    <h4>
        @((sessionManager.ConnectedUser?.User_Id == Model.User_Id) ? "My" : Model.Username) Games
    </h4>
    @* ici vue partielle de la liste des exemplaires possédés par l'utilisateur (propriété OwnedGames)  *@
</div>
